<div style="margin-bottom: 32px">
  <p style="margin-bottom: 16px">※このメールはシステムからの自動返信です</p>
  <p style="margin-bottom: 16px"><%= name %>様</p>
  <p style="margin-bottom: 16px">
    お世話になっております。
    <br />
    General
    Goodsでございます。この度はお問い合わせいただき、ありがとうございます。
  </p>
  <p>
    以下の内容でお問い合わせを受け付けいたしました。
    改めて、担当よりご連絡をさせていただきます。
  </p>
</div>
<div>
  <p>【お問い合わせ内容】</p>
  <ul style="list-style: none">
    <li>お名前：<%= name %></li>
    <li>メールアドレス：<%= email %></li>
    <li>お問い合わせ内容：<%= body %></li>
  </ul>
</div>
